* {
  margin: 0;
  padding: 0;
  text-align: center;
}
button {
  background-color: #7887e0;
}
body,
.modal-content {
  background-color: #302a4e;
  color: #d54aa4;
}
#main-wrapper {
  width: 80%;
  display: grid;
  justify-self: center;
  margin: auto;
}
#gameboard-wrapper {
  margin-top: 10%;
  position: relative;
  border: 1px solid black;
  /* aspect-ratio: 1/1; */
  width: 50vw;
  height: 50vw;
  max-width: 450px;
  max-height: 450px;

  justify-self: center;
  display: flex;
  flex-wrap: wrap;
}

#selection-modal {
  z-index: 1;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5); */
}

#choice-modal {
  z-index: 2;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.5); */
}
.modal-content {
  position: relative;
  /* background-color: rgb(255, 255, 255); */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: wrap;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

#selection-wrapper {
  width: 100%;
  height: 30%;
  display: flex;
  gap: 3vh;
  justify-content: center;
}
.avatar-wrapper {
  background-color: rgb(116, 237, 95);
  height: 30vh;
  width: 25vh;
}

.square {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: calc(100% / 3);
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
}

#players-wrapper {
  margin-top: 8%;
  display: flex;
  justify-content: space-around;
}
#extras-wrapper {
  justify-self: center;
  text-align: center;
}
