* {
  margin: 0;
  padding: 0;
}

#main-wrapper {
  width: 80%;
  display: grid;
  justify-self: center;
  margin: auto;
}
#gameboard-wrapper {
  margin-top: 5%;
  position: relative;
  border: 1px solid black;
  /* aspect-ratio: 1/1; */
  width: 50vw;
  height: 50vw;
  max-width: 450px;
  max-height: 450px;

  justify-self: center;
  display: flex;
  flex-wrap: wrap;
}

.spot {
  box-sizing: border-box;
  width: calc(100% / 3);
  height: calc(100% / 3);
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10vw;
}
